cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.custom-main-container {
    display: flex;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.custom-grid {
    .double-raw {
        display: flex;
        flex-direction: row;

        .double-cell {
            width: 148px;

            &-primary {
                width: 100px;
                box-shadow: 20px 0px 20px 0px #37373712;
                background-color: #37373712;
            }

            .header {
                height: 56px;
                padding: 4px 16px;
                line-height: 52px;
                border-bottom: 1px solid rgba(0,0,0,.12);
            }
            .content {
                height: 90px;
                padding: 12px 16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                line-height: 24px;
            }
        }
    }
}